<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4000" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4000" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4000" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4000" targetFramework="net461" />
</packages>